.mapview
  %map{name:"lot_spots"}
    - @lots.each do |lot|
      %area{shape:"poly",coords:get_coords(lot),href:lot_path(lot)}

  = image_tag "parking.png", usemap: "#lot_spots", style:"width:500px; height:500px;"
  %hr/
  %span{style:"height:15px; background-color:#FF0; border:1px solid #000;"} &nbsp; &nbsp; &nbsp;
  Commuter
  %span{style:"height:15px; background-color:#00F; border:1px solid #000;"} &nbsp; &nbsp; &nbsp;
  General
  %hr/