= render "side_pane"
.mapview
  %map{name:"lot_spots"}
    - @lots.each do |lot|
      %area{shape:"poly",coords:get_coords(lot, :original),href:lot_path(lot)}

  = image_tag get_image_name(:original), usemap: "#lot_spots", ondragstart: "return false" #the ondragstart thing is to prevent draggin the image (better ux)
