// Place all the styles related to the Lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lotView {
    background-color:  #b1b1b1;
}

.mapview {
    margin-left: 0px;
    background-color:  #b1b1b1;
    text-align:  center;
    border:1px solid #888;
    padding-bottom:20px;
    border-radius:10px;
    
    hr {
        border-top:1px solid #888;
        border-bottom:1px solid #ccc;
    }
    
    img {
        width:450px;
        height:450px;
    }
    
    .legend-badge {
        height:15px;
        border:1px solid #000;
    }
}

